$font_1: "Roboto-Regular";
$font_2: "Roboto-Bold";
$FontColor_1: #fff;
$bgBtn: #00afdb;
$bgBtnHover: #009cc2;
$bgfooter: #000;
$FontColor_2: #373737;
$FontColor_3: #4e4e4e;
$bfBlockCommunity: #f5f6f7;
